<div class="row form-block">
    <div class="col-xs-12">
        <div class="text-center">
            <img src="{{ asset('images/logo-BlueStar.png') }}"/>
        </div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <br/>
        {{ form_errors(form) }}
        {{ form_row(form.roster_max_points) }}
        {{ form_row(form.starters_quantity) }}
        {{ form_row(form.substitutes_quantity) }}
        {{ form_row(form.robot_max_score) }}
        <div class="row">
            <div class="col-xs-12">

                <div class="col-xs-6 text-left -btn-container">
                    <button type="button" class="btn btn-warning">
                        Use exercise values
                    </button>
                </div>
                <div class="col-xs-6 text-right -btn-container">
                    <button type="submit" class="btn btn-primary">
                        Generate robot roster!
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>