<div class="row roster-container">
    <div class="col-xs-5">
        <h2 class="text-center">Starters</h2>
        {% for robot in roster %}
            {% if robot.role == 'starter' %}
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4>Name: {{ robot.name }}</h4>
                    </div>
                    <div>
                        <label>Score: </label>
                        <span class="text-success js-robot-score-value">{{ robot.score }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar" role="progressbar" style="width: {{ robot.score * 100 / robot_max_score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Strength: </label>
                        <span class="text-success">{{ robot.strength }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ robot.strength * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Agility: </label>
                        <span class="text-success">{{ robot.agility }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ robot.agility * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Speed: </label>
                        <span class="text-success">{{ robot.speed }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ robot.speed * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                    </div>
                </div>
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <h2 class="text-center">Substitutes</h2>
        {% for robot in roster %}
            {% if robot.role == 'substitute' %}
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4>Name: {{ robot.name }}</h4>
                    </div>
                    <div>
                        <label>Score: </label>
                        <span class="text-success js-robot-score-value">{{ robot.score }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar" role="progressbar" style="width: {{ robot.score * 100 / robot_max_score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Strength: </label>
                        <span class="text-success">{{ robot.strength }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ robot.strength * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Agility: </label>
                        <span class="text-success">{{ robot.agility }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ robot.agility * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                        <label>Speed: </label>
                        <span class="text-success">{{ robot.speed }}</span>
                        <div class="progress">
                            {% if robot.score == 0 %}
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ robot.speed * 100 / robot.score }}%;"></div>
                            {% endif %}
                        </div>
                        <br/>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>