{% extends '::base.html.twig' %}

{% block body %}
    {% if roster is null %}
        {%  include ':default:_form.html.twig' %}
    {% else %}
        {%  include ':default:_roster.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if roster is null %}
        <script>
            $().ready(function () {
                $('form .btn-warning').on('click', function (evt) {
                    $form = $(this).closest('form');
                    $form.find('#roster_form_roster_max_points').val(175);
                    $form.find('#roster_form_starters_quantity').val(10);
                    $form.find('#roster_form_substitutes_quantity').val(5);
                    $form.find('#roster_form_robot_max_score').val(100);
                })
            });
        </script>
    {% endif %}
{% endblock %}