{% extends '::base.html.twig' %}

{% block body %}
    {% if roster is null %}
        <div class="row form-block">
            <div class="col-lg-12">
                <form method="post" class="form-horizontal">
                    <div class="text-center">
                        <img src="{{ asset('images/logo-BlueStar.png') }}"/>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label for="roster_max_points">Roster total score:</label>
                        <input type="text" class="form-control" name="roster_max_points">
                    </div>
                    <div class="form-group">
                        <label for="starters_quantity">Starter robots (Quantity):</label>
                        <input type="text" class="form-control" name="starters_quantity">
                    </div>
                    <div class="form-group">
                        <label for="substitutes_quantity">Substitute robots (Quantity):</label>
                        <input type="text" class="form-control" name="substitutes_quantity">
                    </div>
                    <div class="form-group">
                        <label for="robot_max_score">Max score per robot:</label>

                        <input type="text" class="form-control" name="robot_max_score">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <button type="button" class="btn btn-warning">
                                Use exercise values
                            </button>
                        </div>
                        <div class="col-lg-6 text-right">
                            <button type="submit" class="btn btn-primary">
                                Generate robot roster!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% else %}
        <div class="row roster-container">
            <div class="col-md-5">
                {% for robot in roster %}
                    {% if robot.role == 'starter' %}
                        <div class="row">
                            <div>
                                <label>Robot name: </label>
                                <span class="text-success">{{ robot.name }}</span>
                            </div>
                            <div>
                                <p>Robot info</p>
                                <label>Score: </label>
                                <span class="text-success">{{ robot.score }}</span>
                                <hr/>
                                <label>Strength: </label>
                                <span class="text-success">{{ robot.strength }}</span>
                                <hr/>
                                <label>Agility: </label>
                                <span class="text-success">{{ robot.agility }}</span>
                                <hr/>
                                <label>Speed: </label>
                                <span class="text-success">{{ robot.speed }}</span>
                                <hr/>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-5 col-md-offset-1">
                {% for robot in roster %}
                    {% if robot.role == 'substitute' %}
                        <div class="row">
                            <div>
                                <label>Robot name: </label>
                                <span class="text-success">{{ robot.name }}</span>
                            </div>
                            <div>
                                <p>Robot info</p>
                                <label>Score: </label>
                                <span class="text-success">{{ robot.score }}</span>
                                <hr/>
                                <label>Strength: </label>
                                <span class="text-success">{{ robot.strength }}</span>
                                <hr/>
                                <label>Agility: </label>
                                <span class="text-success">{{ robot.agility }}</span>
                                <hr/>
                                <label>Speed: </label>
                                <span class="text-success">{{ robot.speed }}</span>
                                <hr/>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if roster is null %}
        <script>
            $().ready(function () {
                $('form .btn-warning').on('click', function (evt) {
                    $form = $(this).closest('form');
                    $form.find('input[name="roster_max_points"]').val(175);
                    $form.find('input[name="starters_quantity"]').val(10);
                    $form.find('input[name="substitutes_quantity"]').val(5);
                    $form.find('input[name="robot_max_score"]').val(100);
                })
            });
        </script>
    {% endif %}
{% endblock %}