.form-block {
  top: 30%;
  background: #eee;
  margin: auto;
  padding:25px;
  width:500px;
  margin-top:10%;
}

.roster-container > div > div {
  margin: 10px;
  padding:15px;
  background-color: #eee;
}

.-btn-container {
  padding:0;
}

.roster-container .progress {
  height: 15px;
  margin-bottom:15px;
}